# Ignore environment files
.env

# Ignore all text files (if not needed in the image)
data/*.txt

# Ignore Python bytecode files
*.pyc

# Ignore NumPy array files
*.npy

# Ignore custom file types
*.llamafile

# Ignore the specific virtual environment directory
testmancervenv/

# Additionally, you might want to ignore:
# Git repository files
.git
.gitignore

# Dockerfile and docker-compose files (if not needed inside the container)
Dockerfile
docker-compose.yml

# Rust Utilities
utils